

html,body
{
	font-family: helvetica, arial, sans-serif;
	font-size:15px;
	line-height:1.5;
	background-color: black;
	color: white;
	margin: 0!important 
}
html
{
	overflow-x:hidden
}

.products {
  	display: flex;
  	flex-wrap: wrap;

  	position: relative;
}

.product-card {
  	padding: 2%;
  	flex-grow: 1;
  	flex-basis: 16%;

  	display: flex; /* so child elements can use flexbox stuff too! */

  	position: relative;
  	flex-direction: column;

  	text-align: center;
}

.product-info {
  	margin-top: auto;
}

.product-image img {
  	max-width: 100%;
}

h1,h2,h3,h4,h5,h6,.w3-slim,.w3-wide
{
	font-family:"Lato",Arial,sans-serif;
}

.w3-slim
{
	font-weight:200;
}

h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.w3-serif{font-family:"Times New Roman",Times,serif}

h1,h2,h3,h4
{
	font-weight:400;
	font-size:85px;
	margin:10px 0;
	font-family:"Lato";

}



.w3-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}

/* W3.CSS 3.03 Mar 2017 by Jan Egil and Borge Refsnes */

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */




audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}

code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}

fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */

.main-container
{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	/*border-style: solid;
	border-color: white;*/
}

.richard-landing-card-container
{
	display: relative;
	justify-content: center;
	position:absolute;
	top:44px;
	width: 100%;
	/*border-style: solid;
	border-color: white;*/
}

.multi-use-container
{
	position:relative;
	height:100%;
	/*border-color:white;
	border-style:solid;*/
}

.richard-footer
{
	position: relative;
	bottom:0%;
	height: 20%;
	border-color:white;
	border-style:solid;	
}

.richard-landing-card
{
	position: absolute;
	top:0px;
	width: 100%;
	color:white;
	text-align:center;
	/*border-style:solid;
	border-color:white;*/
}

.richard-product-side
{
	position: absolute;
	top: 44px;
	left: 15px;
	width: 15%;
	padding: 10px;
	/*border-color:grey;*/
}

.richard-product-content
{
	position: absolute;
	top: 44px;
	left: 15%;
	width: 85%;
	height:90%;
	text-align:center;
	border-color:black;
	border-style:solid;
}

.richard-ac-content
{
	display:table;

	position: absolute;
	top: 44px;
	left:0%;
	width:100%;
	height:90%;
	text-align: center;
	/*border-color:grey;
	border-style: solid;*/
}

.richard-blurb
{
	display: table-cell;
	vertical-align: middle;
}

hr{border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}



ul.w3-ul{list-style-type:none;padding:0;margin:0}ul.w3-ul li{padding:8px 16px;border-bottom:1px solid #ddd}ul.w3-ul li:last-child{border-bottom:none}



.w3-navbar
{
	list-style-type:none;margin:0;padding:0;overflow:hidden
}
.w3-navbar li
{
	float:left
}
.w3-navbar li a,.w3-navitem,.w3-navbar li .w3-btn,.w3-navbar li .w3-input
{
	display:block;padding:8px 16px
}
.w3-navbar li .w3-btn,.w3-navbar li .w3-input
{
border:none;outline:none;width:100%
}
.w3-navbar li a:hover
{
	color:#000;
	background-color:#ccc
}
.w3-navbar .w3-dropdown-hover,.w3-navbar .w3-dropdown-click
{
	position:static
}
.w3-navbar .w3-dropdown-hover:hover,.w3-navbar .w3-dropdown-hover:first-child,.w3-navbar .w3-dropdown-click:hover
{
	background-color:#ccc;color:#000
}
.w3-navbar a,.w3-topnav a,.w3-sidenav a,.w3-dropdown-content a,.w3-accordion-content a,.w3-dropnav a,.w3-navblock a
{
	text-decoration:none!important
}
.w3-navbar .w3-opennav.w3-right
{
	float:right!important
}
.w3-topnav
{
	padding:8px 8px
}

.w3-navblock .w3-dropdown-hover:hover,.w3-navblock .w3-dropdown-hover:first-child,.w3-navblock .w3-dropdown-click:hover
{
	background-color:#ccc;color:#000
}



.w3-topnav a
{
	padding:0 8px;
	border-bottom:3px solid transparent;
	-webkit-transition:border-bottom .25s;
	transition:border-bottom .25s
}

.w3-topnav a:hover
{
	border-bottom:3px solid #fff
}

.w3-topnav .w3-dropdown-hover a
{
	border-bottom:0
}








.w3-topnav:after,.w3-topnav:before,.w3-clear:after,.w3-clear:before,.w3-btn-group:before,.w3-btn-group:after,.w3-btn-bar:before,.w3-btn-bar:after,.w3-bar:before,.w3-bar:after
{
	content:"";display:table;clear:both
}




.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
.w3-topnav a{display:block}.w3-navbar li:not(.w3-opennav){float:none;width:100%!important}.w3-navbar li.w3-right{float:none!important}
.w3-topnav .w3-dropdown-hover .w3-dropdown-content,.w3-navbar .w3-dropdown-click .w3-dropdown-content,.w3-navbar .w3-dropdown-hover .w3-dropdown-content,.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}	
.w3-topnav,.w3-navbar{text-align:center}.w3-hide-small{display:none!important}.w3-layout-col,.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}

.w3-top,.w3-bottom{position:fixed;width:100%;z-index:1}.w3-top{top:0}.w3-bottom{bottom:0}

.w3-left
{
	float:left!important
}

.w3-right
{
	float:right!important
}






.w3-card,.w3-card-2,.w3-example
{
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background-color: black;
}

.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.w3-card-8{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important}
.w3-card-12{box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important}
.w3-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}
.w3-card-24{box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)!important}

